@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	src: local("Raleway"), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}
#ticketbanner {
	width: auto !important;
}
#post-368 {
	font-size: 90%;
	text-align: justify;
}
#post-368 table {
	font-size: 80%;
}
#post-368 td:not(:first-child) {
	text-align: right;
}
::-webkit-scrollbar {
	display: none;
}
* {
	margin: 0px;
	padding: 0px;
}
body {
	width: 400px;
	max-width: 400px;
	margin: auto;
	font-family: arial;
	z-index: 0;
}
table {
	width: 100%;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
header, header h1, footer {
	font-weight: bold;
	font-family: "Raleway";
}
.nav {
	font-family: "Open Sans";
	padding-top: 1px;
	padding-bottom: 1px;
	color: #43439e;
}
.nav ul {
	list-style-type: none;
	color: red;
	width: 100%;
	padding-top: 1px;
}
.nav li {
	border-bottom: 2px solid white;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
	background-color: #d60031;
}
/*.nav a {*/
.menu {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	color: royalblue;
	color: midnightblue;
	color: mediumblue;
	color: dodgerblue;
	color: darkblue;
	color: darkslateblue;
	color: cornflowerblue;
	color: navy;
}
.nav, .nav ul, .nav ul li, .nav ul li a {
	width: 100%;
	text-align:center;
}
#main {
	border-radius: 10px;
}
#footer, footer, .footer {
	/*display: none !important;*/
	text-align: center;
}
#footer a {
	text-decoration: none;
	color: #0000EE;
}
#header {
	/*background-image: url(img/bus_right.jpg);	*/
	background-image: url(../img/cat_logo2.png);
	background-repeat: no-repeat;
	margin-right: 5px;
}
.menu-item {
	float: none;
	padding-top: 5px;
}
.sub-menu .menu-item, .sub-menu .menu-item a {
	-webkit-filter: invert(100%);
	color: lightgray;
}
.route-info {
	display: none;
}
.route h3:hover {
	-webkit-filter: invert(40%);
}
select {
	width: 100%;
}
.route-schedule {
	font-family: calibri;
	overflow-x: scroll;
}
.route-schedule td {
	text-align: right;
	padding-right: 5px;
}
.route-schedule caption {
	border-bottom: 0px;
}
/*.route-schedule tr td:nth-child(odd) {
	border: 1px solid #e7e7e7;
}
.route-schedule tr td:nth-child(even) {
	background: #f2f7fc;
}*/
/*td {
	width: 60px;
}*/
th, td {
	border: 1px solid darkgray;
	white-space: nowrap;
}
th {
	text-align: center;
}
.rotate th {
	text-align: left;

}
.rotate th {
	transform: rotate(270deg) translate(-45px, 65px);
}
.rotate th div {
	height: 150px;
	width: 25px;
	white-space: nowrap;
}
/*.rotate th {
	height: 25px;
	padding: 75px 0 15px 0;
	overflow: hidden;
	vertical-align: bottom;
	white-space: nowrap;
}
.rotate th div {
	transform: rotate(-90deg);
	overflow: hidden; 
	text-overflow: ellipsis;
	padding-left: 20px;
}*/
/*.rotate th {
	display: inline-block;
	overflow: hidden;
	width: 1.5em;
}
/*.rotate th div {
	display: inline-block;
	white-space: nowrap;
	line-height: 1.5;
	transform: translate(0,100%) rotate(-90deg);
	transform-origin: 0 0;
}*/
/* This element stretches the parent to be square
   by using the mechanics of vertical margins  */
/*.rotate th div:after {
	content: "";
	display: block;
	margin: -1.5em 0 100%;
}
*/
.back-to-top {
	float: right;
	text-decoration: none;
	background: #f5f5f5;
	color: #444;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	/*margin-right: 0px;*/
	margin: -10px;
}
#back-to-top {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 9999;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	background: #f5f5f5;
	color: #444;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
}
#back-to-top:hover {
	background: #e9ebec;
}
#back-to-top.show {
	opacity: 1;
}
#anchors, #anchors a {
	display: none;
}
.google_translate_footer {
	text-align: right;
	font-size: 9px;
	color: #888;
}
.overlay {
	display: none;
	position: absolute;
	top: 10%;
	left: 10%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9998;
	height: 80%;
	width: 80%;
}
.background {
	background-color: rgba(255, 255, 255, 1);
	z-index: 9999;
	position: relative;
	top: 5%;
	left: 4%;
	height: 90%;
	width: 92%;
	overflow: scroll;
}



/*
#content tr th, #content thead th {
	color: #888;
	font-weight: bold;
}
#content tr td {
	border-top: 0px;
	padding: 5px;
	vertical-align: top;
	border: 1px solid #e7e7e7
}
#content tr.odd td {
	background: #f2f7fc;
}
*/
